<div class="container-fluid my-5 py-5" id="ourclient">
    <div class="container text-center">
      <div class="row">
        <div class="col">
            <h1>Our Clients</h1>
        </div>
      </div>
      <div class="row my-5 py-2 justify-content-center align-items-center">
        <div class="col"><img src="assets/client/finnet.png" style="cursor: pointer;" alt="..." height="80px" onclick="window.open('https://www.finpay.id/', '_blank');"></div>
        <div class="col"><img src="assets/client/Mitratel.png" style="cursor: pointer;" alt="..." height="80px" onclick="window.open('https://www.mitratel.co.id/', '_blank');"></div>
        <div class="col"><img src="assets/client/Tristar.png" alt="..." height="80px"></div>
        <div class="col"><img src="assets/client/VAI.png" alt="..." height="80px"></div>
      </div>
      <div class="row my-5 py-2 justify-content-center align-items-center">
        <div class="col"><img src="assets/client/inti persada.png" style="cursor: pointer;" alt="..." height="80px" onclick="window.open('https://www.persadanusantara.co.id/', '_blank');"></div>
        <div class="col"><img src="assets/client/Phintraco.png" style="cursor: pointer;" alt="..." height="80px" onclick="window.open('https://phintracosekuritas.com/', '_blank');"></div>
        <div class="col"><img src="assets/client/Josi.png" alt="..." height="80px"></div>
        <div class="col"><img src="assets/client/Azeta.png" alt="..." height="80px"></div>
      </div>
      <div class="row my-5 py-2 justify-content-center align-items-center">
        <div class="col"><img src="assets/client/Protelindo.png" style="cursor: pointer;" alt="..." height="80px" onclick="window.open('https://www.protelindo.net/home', '_blank');"></div>
        <div class="col"><img src="assets/client/Bach.png" style="cursor: pointer;" alt="..." height="80px" onclick="window.open('https://www.bach.co.id/bach-multi-infrastruktur/', '_blank');"></div>
        <div class="col"><img src="assets/client/PUPR.png" style="cursor: pointer;" alt="..." height="80px" onclick="window.open('https://pu.go.id/', '_blank');"></div>
        <div class="col"><img src="assets/client/kreddo.png" style="cursor: pointer;" alt="..." height="80px" onclick="window.open('https://kreddo.com/', '_blank');"></div>
        <div class="col"><img src="assets/client/MBS.png" alt="..." height="80px"></div>
      </div>
      <div class="row my-5 py-2 justify-content-center align-items-center">
        <div class="col"><img src="assets/client/UI.png" style="cursor: pointer;" alt="..." height="120px" onclick="window.open('https://www.ui.ac.id/', '_blank');"></div>
        <div class="col"><img src="assets/client/Kominfo.png" style="cursor: pointer;" alt="..." height="120px" onclick="window.open('https://www.kominfo.go.id/', '_blank');"></div>
        <div class="col"><img src="assets/client/Layton.png" style="cursor: pointer;" alt="..." height="120px" onclick="window.open('https://layton.co.id/', '_blank');"></div>
        <div class="col"><img src="assets/client/paul& co.png" style="cursor: pointer;" alt="..." height="120px" onclick="window.open('https://www.paulasia.com/id/', '_blank');"></div>
        <div class="col"><img src="assets/client/telkom property.png" style="cursor: pointer;" alt="..." height="120px" onclick="window.open('https://www.telkomproperty.co.id/', '_blank');"></div>
      </div>
    </div>
  </div>