<div class="p-5" style="background-image: url('./assets/background barracklegal bw.jpg'); background-repeat: no-repeat; background-size: cover">
  <div class="d-flex justify-content-center align-items-center">
    <div class="container">
      <h1 class="text-light text-center">TIM KURATOR PT. KAISO MARITIM GLOBAL (DALAM PAILIT)</h1>

      <div class="text-center bg-light mt-5 p-md-5 rounded-3 mt-5">
        <h2>
          SALINAN PUTUSAN PAILIT <br>
          PT. KAISO MARITIM GLOBAL (DALAM PAILIT)
        </h2>
      </div>

      <div class="text-center bg-light mt-5 p-md-5 rounded-3 mt-5">
        <h2>PENGUMUMAN KORAN</h2>
        <p>KORAN "KORAN JAKARTA" TANGGAL 17 FEBRUARI 2023</p>
        <p>KORAN "KORAN JAKARTA" TANGGAL 22 FEBRUARI 2023</p>
      </div>

      <div class="text-center bg-light mt-5 p-md-5 rounded-3 mt-5">
        <h2>PENGUMUMAN KORAN</h2>
        <p>KORAN "RAKYAT MERDEKA" TANGGAL 17 FEBRUARI 2023</p>
        <p>RALAT KORAN "RAKYAT MERDEKA" TANGGAL 22 FEBRUARI 2023</p>
      </div>

      <div class="text-center bg-light mt-5 p-md-5 rounded-3 mt-5">
        <h2>
          DAFTAR PIUTANG TETAP DAN DAFTAR PIUTANG TETAP TERLAMBAT <br>
          PT. KAISO MARITIM GLOBAL (DALAM PAILIT)
        </h2>
      </div>

      <div class="text-center bg-light mt-5 p-md-5 rounded-3 mt-5">
        <h2>
          DAFTAR ASET <br>
          PT. KAISO MARITIM GLOBAL (DALAM PAILIT)
        </h2>
      </div>

      <div class="text-center bg-light mt-5 p-md-5 rounded-3 mt-5">
        <h2>Template Formulir Pengajuan Tagihan Dapat di Download <a href="">Di Sini</a><br></h2>
        <h2>Template Surat Kuasa Dapat di Download <a href="">Di Sini</a><br></h2>
      </div>

      <div class="bg-light mt-5 p-md-5 rounded-3">
        <h2 class="text-center">
          TAGIHAN DIAJUKAN KEPADA TIM KURATOR <br>
          PT. KAISO GLOBAL MARITIM (DALAM PAILIT) DENGAN TATA CARA SEBAGAI <br>
          BERIKUT:</h2> <br>
        <ol type="1" class="text-justify fs-5 text-muted">
          <li>
            Pihak yang dapat mengisi Formulir Pengajuan Tagihan hanyalah kreditor atau pihak yang memiliki tagihan atau piutang kepada PT Kaiso Global Maritim (Dalam Pailit);
          </li> <br>
          <li>
            Mengisi Formulir Pengajuan Tagihan yang telah disediakan dan mengirim scandokumen serta bukti-bukti pendukung tagihan kepada email Tim Kurator PT Kaiso Global Maritim (Dalam Pailit):
            <a href="mailto:timkuratorkaisoline@gmail.com">timkuratorkaisoline@gmail.com</a>;
          </li> <br>
          <li>
            Template Formulir Pengajuan Tagihan dan contoh Surat Kuasa dapat diunduh pada laman <br><a href="https://baracklegal.com/kepailitan-pt-kaiso-maritim-global-dalam-pailit/">https://baracklegal.com/kepailitan-pt-kaiso-maritim-global-dalam-pailit/</a>
          </li> <br>
          <li>
            Batas terakhir pengajuan dan pengiriman scan dokumen kelengkapan tagihan adalah hari Selasa, tanggal <span class="fw-bold">14 Maret 2023, pukul 15.00 WIB</span>;
          </li> <br>
          <li>
            Kreditor wajib membawa hardcopydan/atau asli dokumen kelengkapan pengajuan tagihan pada saat Rapat Verifikasi pada hari Rabu, tanggal 28 Maret 2023 di Pengadilan Niaga pada Pengadilan Negeri Jakarta Pusat, atau pada saat rapat pra-verifikasi yang akan ditentukan oleh Tim Kurator nantinya;
          </li> <br>
          <li>
            Tanggal cut-offseluruh tagihan adalah <span class="fw-bold">14 Februari 2023</span>, dan tagihan dalam mata uang asing selain Rupiah Indonesia harus diubah menjadi Rupiah Indonesia dengan berpatokan pada Kurs Tengah Bank Indonesia pada tanggal 14 Februari 2023;
          </li> <br>
          <li>
            Apabila pihak pengaju tagihan adalah perorangan, maka wajib mengirimkan scandokumen tanda bukti diri / identitas yang sah (KTP, SIM, Paspor);
          </li> <br>
          <li>
            Apabila pihak pengaju tagihan adalah non-perorangan / badan usaha berbentuk Persekutuan Perdata, CV, Firma, dan persekutuan perdata lainnya maka wajib mengirimkan scandokuman Akta Pendirian Persekutuan Perdata, Anggaran Dasar/Anggaran Rumah Tangga (AD/ART) termasuk jika ada perubahannya, serta dokumen yang membuktikan susunan kepengurusan terakhir berikut tanda bukti diri (KTP/Paspor/SIM) dari pengurusnya;
          </li> <br>
          <li>
            Apabila pihak pengaju tagihan adalah non-perorangan berbentuk badan hukum Perseroan Terbatas, Yayasan dan Koperasi, maka wajib mengirimkan scandokumen Akta Pendirian Badan Hukum, Anggaran Dasar/Anggaran Rumah Tangga (AD/ART) atau termasuk jika ada perubahannya, serta dokumen yang membuktikan susunan kepengurusan terakhir berikut tanda bukti diri (KTP/Paspor/SIM) dari Direksi/Ketua Yayasan/Ketua Koperasi;
          </li> <br>
          <li>
            Apabila pihak pengaju tagihan telah menunjuk kuasa, penerima tugas atau perwakilan sehubungan dengan proses Kepailitan PT Kaiso Global Maritim (Dalam Pailit), maka wajib mengirimkan scandokumen surat kuasa, surat tugas atau surat lainnya yang diperuntukkan untuk hal termaksud berikut dengan tanda bukti diri (KTP/Paspor/SIM) penerima kuasa, penerima tugas atau perwakilan;
          </li> <br>
          <li>
            Pihak pengaju tagihan wajib mengirimkan scandokumen yang membuktikan atau menunjukkan adanya peristiwa hukum atau dasar tagihan (misalnya: perjanjian kredit, akad kredit, perjanjian utang piutang, tanda terima uang, Invoice, Purchase Order(PO), tanda terima/surat jalan barang, cek, slip transfer, surat pemesanan, PPJB, kontrak, perjanjian dan dokumen pendukung terkait lainnya) yang menimbulkan piutang, baik berupa pokok, bunga, denda, penalti dan lain-lain berserta perinciannya (breakdown) atas piutang tersebut;
          </li> <br>
          <li>
            Pihak pengaju tagihan wajib mengirimkan scandokumen yang membuktikan atau menunjukkan bahwa tagihannya memiliki sifat tagihan separatis, konkuren atau preferen, serta dokumen pendukungnya;
          </li> <br>
          <li>
            Setiap dokumen asing atau yang diterbitkan di luar wilayah Indonesia, harus melalui prosedur legalisasi oleh Kementerian Kehakiman dan/atau Kementerian Luar Negeri negara dimaksud dan Perwakilan Republik Indonesia di negara setempat sesuai Peraturan Menteri Luar Negeri No. 09/A/KP/XII/2006/01;
          </li> <br>
          <li>
            Setiap dokumen asing wajib diterjemahkan oleh penterjemah tersumpah ke dalam Bahasa Indonesia.
          </li>
        </ol>
      </div>

      <div class="text-center bg-light mt-5 p-md-5 rounded-3">
        <h2>Kantor Sekretariat<br>Tim Kurator PT. Kaiso Maritim Global (DALAM PAILIT)</h2> <br>
        <p>
          <span class="fw-bold">Kantor Hukum EDGE Law</span> <br>
          Graha Kana Lt. 5 Unit 05, Jl. Angkasa Blok B-16 Kav. 4, <br>
          Gunung Sahari Selatan, Kemayoran, Jakarta Pusat, <br>
          DKI Jakarta, Indonesia 10720
        </p>
        <p>
          <span class="fw-bold">Telp/WA:</span>+62 882-3952-4450 <br>
          <span class="fw-bold">Email:</span>timkuratorkaisoline@gmail.com <br>
          <span class="fw-bold">Website:</span>www.baracklegal.com
        </p>
      </div>
    </div>
  </div>
</div>
