<div class="p-md-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Contact</h1>
    </div>
  </div>
  <div class="row p-md-5">
    <div class="col-md-6">
      <div>
        <h3 class="fw-bolder">Address</h3>
        <h5 class="fw-normal">
          Graha Kana Lt. 5 Unit 05, Jl. Angkasa Blok B-16 Kav. 4, <br>
          Gunung Sahari Selatan, Kemayoran, Jakarta Pusat, <br>
          DKI Jakarta, Indonesia 10720
        </h5>
      </div>
      <div class="mt-5">
        <h3 class="fw-bolder">Working Hours</h3>
        <h5 class="fw-normal">
          Monday – Friday <br>
          09.00am – 18.00pm
        </h5>
      </div>
      <div class="mt-5">
        <h3 class="fw-bolder">For Inquiries</h3>
        <h5 class="fw-normal">
          law@baracklegal.com <br>
          (+62 21)-2605-8325
        </h5>
      </div>
      <div class="mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31734.557430466015!2d106.840235!3d-6.1549!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5e5cb0a8509%3A0x8352f70f5278ab7a!2sBarack%20Legal%20Indonesia%20%2F%20EDGE%20Law!5e0!3m2!1sen!2sus!4v1698241620369!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">Request a Call Back</h3>
        </div>
        <div class="col-md-12 my-5">
          <h6 class="text-center fw-normal">Please fill out the form below to request a callback.</h6>
          <h6 class="text-center fw-normal">We will get back to you as soon as possible.</h6>
        </div>
      </div>
      <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-md-12 input-group">
          <label for="full_name" class="form-label">Full Name<span class="text-danger">*</span></label>
          <input type="text"
                 id="full_name"
                 formControlName="full_name"
                 name="full_name" class="w-100 border-black form-control" placeholder="John Doe" required>
          <div
            class="text-danger"
            *ngIf="form.get('full_name').hasError('required') && form.get('full_name').touched">
            Full Name is required.
          </div>
        </div>
        <div class="col-md-12 input-group mt-3">
          <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
          <input type="email" id="email"
                 formControlName="email"
                 name="email" class="w-100 border-black form-control" placeholder="johndoe@Mail.com" required>
          <div
            class="text-danger"
            *ngIf="form.get('email').hasError('required') && form.get('email').touched">
            Email is required.
          </div>
          <div
            class="text-danger"
            *ngIf="form.get('email').hasError('email') && form.get('email').touched">
            Invalid email format.
          </div>
        </div>
        <div class="col-md-12 input-group mt-3">
          <label for="phone_number" class="form-label">Phone Number<span class="text-danger">*</span></label>
          <input type="text"
                 name="phone_number"
                 id="phone_number"
                 formControlName="phone_number"
                 class="w-100 border-black form-control" placeholder="08123456789" required>
          <div
            class="text-danger"
            *ngIf="form.get('phone_number').hasError('required') && form.get('phone_number').touched">
            Phone number is required.
          </div>
        </div>
        <div class="col-md-12 input-group mt-3">
          <label for="subject" class="form-label">Subject<span class="text-danger">*</span></label>
          <input type="text"
                 id="subject"
                 name="subject"
                 formControlName="subject"
                 class="w-100 border-black form-control" placeholder="subject" required>
          <div
            class="text-danger"
            *ngIf="form.get('subject').hasError('required') && form.get('subject').touched">
            Subject is required.
          </div>
        </div>
        <div class="col-md-12 input-group mt-3">
          <label for="message" class="form-label">Message<span class="text-danger">*</span></label>
          <textarea
            class="form-control border-black w-100"
            id="message"
            formControlName="message"
            placeholder="message"
            name="message" cols="30" rows="10"></textarea>
          <div
            class="text-danger"
            *ngIf="form.get('message').hasError('required') && form.get('message').touched">
            Message is required.
          </div>
        </div>
        <div class="col-md-12 input-group mt-3">
          <button type="submit"
                  [disabled]="form.invalid"
                  class="btn btn-primary w-100">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
