<div class="p-md-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center fw-bolder mb-5">Our Experiences</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="row flex-column">
        <div class="col" *ngFor="let type of types">
          <h2 class="pb-md-3 border-bottom border-black" (click)="onClickType(type)">{{ type.name }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ng-container *ngIf="contents.length <= 1">
        <p *ngFor="let content of contents">{{ content }}</p>
      </ng-container>
      <ol type="1" *ngIf="contents.length > 1">
        <li *ngFor="let content of contents">{{ content }}</li>
      </ol>
    </div>
  </div>
</div>
