<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white justify-content-between" id="home">
        <div class="flex-start ms-5">
            <img src="assets/logo.png" width="100px" height="100px" alt="">
        </div>
        <div class="flex-end">
            <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active me-4">
                <a class="nav-link" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item me-4">
                <a class="nav-link" href="#aboutcompany">About Company</a>
                </li>
                <li class="nav-item me-4">
                <a class="nav-link" href="#">Our Management</a>
                </li>
                <li class="nav-item me-4">
                <a class="nav-link" href="#">Our Clients</a>
                </li>
              <li class="nav-item me-4">
                <a class="nav-link" href="#">Our Experiences</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" href="#">Public Cases</a>
              </li>
            </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('./assets/test.jpg'); height: 800px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
            <h1 class="mb-3">
              <img src="assets/logo.png"
                   width="300"
                   height="300"
                   alt="logo barrack legal">
            </h1>
            <h1 class="mb-3 fw-bolder">
              IN ASSOCIATION WITH EDGE LAW
            </h1>
              <h4>
                Graha Kana Lt. 5 Unit 05, Jl. Angkasa Blok B-16 Kav. 4, <br>
                Gunung Sahari Selatan, Kemayoran, Jakarta Pusat, <br>
                DKI Jakarta, Indonesia 10720
              </h4>
              <h4 class="mt-5">law@baracklegal.com | (+62 21)-2605-8325</h4>
            </div>
        </div>
    </div>
    <!-- Background image -->
  </header>
  <body>
    <div class="p-md-5">
      <div class="d-flex justify-content-between mt-5 ms-5" id="aboutcompany">
        <div>
          <img src="assets/logo-dark.png" class="rounded" alt="" width="300px" height="300px">
          <h3 class="text-center">Growing With Us</h3>
        </div>
        <div class="row justify-content-center align-self-center ms-3">
          <p>Established in 2021, Barack Legal Indonesia has become a multi-services law firm, striving to provide the best legal services and business assistances in Indonesia. To provide multidisciplinary legal solutions with strategic-driven and on-point legal advice for clients, Barack Legal has been working closely with EDGE Law as its exclusive independent lawfirm.<br><br>

            With depth of knowledge and experience in our lawyers' respective areas of practice, we are operating to find the finest legal solution at our core that meet clients' long-term objectives under a specified core values, and client service standard.<br><br>

            Constantly committing to excellence, together with EDGE Law, Barack Legal Indonesia is here with the specialties includes: corporate legal, compliances & licensing, dispute resolutions, intellectual property rights, and any other legal services.<br><br>
          </p>
        </div>
      </div>

    </div>

    <div class="container-fluid py-4 bg-warning my-5">
        <div class="row my-5">
            <div class="col-md-6 border-end border-5">
                <h1 class="text-center pt-4 pb-5">Our Vision</h1>
                <h5 class="text-left ps-3 pe-3 pb-5">Aiming to be a leading Indonesian law firm, being the best problem solver for clients' needs.</h5>
            </div>
            <div class="col-md-6">
                <h1 class="text-center pt-4 pb-5">Our Mision</h1>
                <h5 class="text-left ps-3 pe-3 pb-5">Providing the effective solutions for clients by doing everything possible under the prevailing law and regulations within an ethical and classical manner.</h5>
            </div>
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/test.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          a
        </div>
        <div class="carousel-item">
          b
        </div>
      </div>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container-fluid">
      <div class="container text-center">
        <div class="row">
          <div class="col">
              <h1>Our Clients</h1>
          </div>
        </div>
        <div class="row">
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
        </div>
        <div class="row">
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
          <div class="col"><img src="./assets/test.jpg" width="100px" height="100px" alt="..."></div>
        </div>
      </div>
    </div>

  <app-our-experiences></app-our-experiences>
  <app-contact></app-contact>
  <app-footer></app-footer>
  </body>
