<div id="ourmanagement" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators" style="bottom: -50px;">
      <button type="button" data-bs-target="#ourmanagement" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1" style="width: 70px;"></button>
      <button type="button" data-bs-target="#ourmanagement" data-bs-slide-to="1" aria-label="Slide 2" class="bg-dark" style="width: 70px;"></button>
    </div>
    <div class="carousel-inner">
      <ng-container *ngFor="let management of managements">
        <div class="carousel-item {{ management.active ? 'active' : '' }}">
          <div class="card mb-3 border-0 d-block mx-auto" style="max-width: 75rem;">
            <div class="row no-gutters">
              <div class="col">
                <img src="{{ management.image }}" class="card-img" alt="{{ management.name }}" >
              </div>
              <div class="col" style="background-color:#d4d4d4; border-radius:.25rem;">
                <div class="card-body">
                  <h2 class="card-title">{{ management.name }}</h2>
                  <h2 class="card-title mt-3">{{ management.position }}</h2>
                  <p class="card-text text-left mt-3 text-justify">{{ management.description }}</p>
                  <p class="card-text text-left text-decoration-underline mt-3">Formal Education</p>
                  <ul>
                    <li *ngFor="let item of management.formal_education" class="text-justify" [innerHtml]="item"></li>
                  </ul>
                  <p class="card-text text-left text-decoration-underline">Certifications & Licenses</p>
                  <ul>
                    <li *ngFor="let item of management.certifications_licenses" class="text-justify" [innerHtml]="item"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>
    <div class="carousel-control-prev" data-bs-target="#ourmanagement" data-bs-slide="prev">
      <button class="carousel-control-prev-icon bg-dark btn" type="button" aria-hidden="true"></button>
      <span class="visually-hidden">Previous</span>
    </div>
    <div class="carousel-control-next" data-bs-target="#ourmanagement" data-bs-slide="next">
      <button class="carousel-control-next-icon bg-dark btn" type="button" aria-hidden="true"></button>
      <span class="visually-hidden">Next</span>
    </div>
  </div>