    <!-- Background image -->
    <div
      class="p-5 text-center bg-image landscape"
      style="background-image: url('./assets/background barracklegal bw.jpg'); height: 900px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
            <h1 class="mb-3">
              <img src="assets/logo.png"
                   width="300"
                   height="300"
                   alt="logo barrack legal">
            </h1>
            <h1 class="mb-3 fw-bolder">
              IN ASSOCIATION WITH EDGE LAW
            </h1>
              <h4>
                Graha Kana Lt. 5 Unit 05, Jl. Angkasa Blok B-16 Kav. 4, <br>
                Gunung Sahari Selatan, Kemayoran, Jakarta Pusat, <br>
                DKI Jakarta, Indonesia 10720
              </h4>
              <h4 class="mt-5">law@baracklegal.com | (+62 21)-2605-8325</h4>
            </div>
        </div>
    </div>
    <!-- Background image -->