<div class="p-5 text-center bg-image landscape"
  style="background-image: url('./assets/background barracklegal bw.jpg'); height: 900px;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white bg-light p-md-5 container rounded-3 bg-opacity-75">
      <h1 class="mb-3 fw-bolder text-black">OUR ONGOING PUBLIC CASES</h1>
      <a class="btn btn-dark w-100 rounded-pill fw-bold" href="https://kepailitan-drymix.com/" target="_blank">Kepailitan PT. Drymix Indonesia (Dalam Pailit)</a>
      <button class="btn btn-dark w-100 rounded-pill fw-bold my-3" routerLink="/kepailitan-pt-kaiso-maritim-global-dalam-pailit">Kepailitan PT. Kaiso Maritim Global (Dalam Pailit)</button>
    </div>
  </div>
</div>
