<div class="p-md-5">
    <div class="d-flex justify-content-between mt-5 ms-5" id="aboutcompany">
      <div class="my-5">
        <img src="assets/logo-dark.png" class="rounded" alt="" width="300px" height="300px">
        <h3 class="text-center">Growing With Us</h3>
      </div>
      <div class="row justify-content-center align-self-center ms-3">
        <p>Established in 2021, Barack Legal Indonesia has become a multi-services law firm, striving to provide the best legal services and business assistances in Indonesia. To provide multidisciplinary legal solutions with strategic-driven and on-point legal advice for clients, Barack Legal has been working closely with EDGE Law as its exclusive independent lawfirm.<br><br>

          With depth of knowledge and experience in our lawyers' respective areas of practice, we are operating to find the finest legal solution at our core that meet clients' long-term objectives under a specified core values, and client service standard.<br><br>

          Constantly committing to excellence, together with EDGE Law, Barack Legal Indonesia is here with the specialties includes: corporate legal, compliances & licensing, dispute resolutions, intellectual property rights, and any other legal services.<br><br>
        </p>
      </div>
    </div>

  </div>

  <div class="container-fluid py-4 my-5" style="background-color:#d4d4d4;">
      <div class="row my-5">
          <div class="col-md-6 border-end border-3 border-white">
              <h1 class="text-center pt-4 pb-5">Our Vision</h1>
              <h5 class="text-left ps-3 pe-3 pb-5">Aiming to be a leading Indonesian law firm, being the best problem solver for clients' needs.</h5>
          </div>
          <div class="col-md-6">
              <h1 class="text-center pt-4 pb-5">Our Mision</h1>
              <h5 class="text-left ps-3 pe-3 pb-5">Providing the effective solutions for clients by doing everything possible under the prevailing law and regulations within an ethical and classical manner.</h5>
          </div>
      </div>
  </div>